#ratings-slider .slider-bg {
  position: absolute;
  z-index: -2;
  height: 100%;
  -o-object-fit: cover;
    object-fit: cover;
}

#ratings-slider .carousel-caption {
  font-style: italic;
  top: 50%;
  bottom: unset;
  left: 50%;
  right: unset;
  transform: translate(-50%, -50%);
  width: 80%;
}

#ratings-slider .carousel-indicators li {
  background-color: transparent;
  width: 35px;
  height: 35px;
}
.reviews .carousel .carousel-inner .carousel-item {
  min-height: 300px;
}

